<div class="m-4">
<h2>WELCOME TO SNAG</h2>
<% if @currently_snagging.nil?%>
  <h4>Open Requests</h4>
  <ul></ul>
    <% @open_requests.each do |request| %>
    <div class="form-row">
      <div class="form-group col-md-2">
        <li><%= request.beer.name %> for <%= request.requester.name %>
      </div>
      <div class="form-group col-md-2">
        <%= form_tag(request_path(request), method:"patch") do %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= hidden_field_tag :id, request.id %>
          <%= hidden_field_tag "request[snagger_id]", current_user.id %>
          <%= hidden_field_tag "request[status]", "in progress" %>
          <%= submit_tag "SNAG IT", class: 'btn btn-info btn-sm' %>
        <% end %>
      </div>
        </li>
      </div>
    <% end %>
  </ul>

<% else %>

  <h4>You're currently snagging <%= @currently_snagging.requester.name %> a <%= @currently_snagging.beer.name %> - they're waiting in <%= @currently_snagging.location.name %>!</h4>
  <%= form_tag(request_path(@currently_snagging), method:"patch") do %>
    <%= hidden_field_tag :id, @currently_snagging.id %>
    <%= hidden_field_tag "request[status]", "closed" %>
    <%= submit_tag "Beer Delivered", class: 'btn btn-success btn-lg' %>
  <%end%>

  <%= form_tag(request_path(@currently_snagging), method:"patch") do %>
    <%= hidden_field_tag :id, @currently_snagging.id %>
    <%= hidden_field_tag "request[status]", "open" %>
    <%= hidden_field_tag "request[snagger_id]", nil %>
    <%= submit_tag "Sorry, can't Snag it!", class: 'btn btn-danger btn-lg' %>
  <% end %>

<% end %>
<br>
<br>
<% if @currently_requesting.nil? %>
  <div>
    <%= form_tag new_request_path, method:"get" do %>
      <%= submit_tag 'Request a beer', class: 'btn btn-info btn-lg' %>
    <% end %>
  </div>
<% else %>
  <% if @currently_requesting.status == "open" %>
    <div>You're currently requesting a <%= @currently_requesting.beer.name %>.  We'll let you know when someone's bringing it!</div>
    <%= form_tag new_request_path, method:"patch" do %>
      <%= hidden_field_tag :id, @currently_requesting.id %>
      <%= hidden_field_tag "request[status]", "closed" %>
      <%= submit_tag 'Cancel this request', class: 'btn btn-secondary btn-lg' %>
    <% end %>

  <% elsif @currently_requesting.status == "in progress" %>
    <div>Your <%= @currently_requesting.beer.name %> is on the way, courtesy of <%= @currently_requesting.snagger.name %>!  </div>
  <% end %>
<% end %>
</div>





