<div class="ml-3">
<h1>Want me to bring one back for you?</h1>

<div>
<%= form_for @request do |f| %>
  <p>
    <%= f.label "Pick a beer: ", id:"beer_id" %>
    <%= f.collection_select :beer_id, @beers.sort, :id, :name %>
  </p>

  <p>
    <%= f.label "Where are you? ", id:"location_id" %>
    <%= f.collection_select :location_id, @locations.sort, :id, :name %>
  </p>

    <%= f.hidden_field :requester_id, value:current_user.id %>
    <%= f.hidden_field :status, value:"open" %>
  <%= f.submit %>

<% end %>
</div>
</div>
