<!DOCTYPE html>
<html>

  <head>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type ="text/css" href="app/assets/stylesheets/application.scss">
    <link rel="stylesheet" type ="text/css" href="app/assets/stylesheets/beers.scss">
    <link rel="stylesheet" type ="text/css" href="app/assets/stylesheets/mods.scss">
    <link rel="stylesheet" type ="text/css" href="app/assets/stylesheets/requests.scss">
    <link rel="stylesheet" type ="text/css" href="app/assets/stylesheets/users.scss">
    <title>Snag it!</title>
  </head>

  <body>
    <header>
      <nav>
        <div class="row">
          <img src="./img/drawing-beer.png" alt="beer" class="beer-image">
          <ul class="main-nav">
            <li><a class=title href="/">SNAG</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/requests/new">Request a beer!</a></li>
            <li><a href="#">Snag a beer for a friend!</a></li>
            <li><a href="/users/new">Login/Sign Up</a></li>
          </ul>
        </div>
      </nav>
        
    </header>
   <div class="container">

      <% if flash.any? %>
        <% flash.each do |type, message| %>
          <ul>
            <% if type == "error" || type == "warning" || type == "notice" %>
              <li style="color: red"><%= message %></li>

            <% elsif type == "success" %>
              <p style="color: green"><%= message %></p>
            <% else %>
              <p><%= message %></p>
            <% end %>
          </ul>
          <% end %>
        <% end %>
    </div>

    <%= yield %>
  </body>
</html>

<!doctype html>
