<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <title>Snag it!</title>
  </head>

  <body>
    <header>
      <nav>
        <div class="row">
           <!-- <%# <a href=<%= root_path %>><img src="./img/beer2.png" alt="beer" class="beer-image"> %> -->
          <ul class="main-nav">
            <% if logged_in? %>
              <li><a class=title href=<%= requests_path %> >SNAG</a></li>
            <% else %>
              <li><a class=title href=<%= log_in_path %> >SNAG</a></li>
            <% end %>
            <li><a href=<%= beers_path %>>Beers</a></li>
            <li><a href=<%= new_request_path %>>Request a beer</a></li>
            <li><a href="#">Snag a beer for a friend</a></li>
            <% if logged_in? %>
              <li><a href=<%= log_out_path %>>Logout</a></li>
            <% else %>
              <li><a href=<%= sign_up_path %>>Login/Sign Up</a></li>
            <% end %>
          </ul>
        </div>
      </nav>

    </header>


      <% if flash.any? %>
        <% flash.each do |type, message| %>
          <ul>
            <% if type == "error" || type == "warning" || type == "notice" %>
              <li style="color: red"><%= message %></li>

            <% elsif type == "success" %>
              <p style="color: green"><%= message %></p>
            <% else %>
              <p><%= message %></p>
            <% end %>
          </ul>
          <% end %>
        <% end %>


    <%= yield %>
  </body>
</html>

<!doctype html>
