<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel=“stylesheet” href=“https://use.fontawesome.com/releases/v5.8.2/css/all.css” integrity=“sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay” crossorigin=“anonymous”>
  <link rel=“stylesheet” href=“https://bootswatch.com/4/yeti/bootstrap.min.css”>

    <title>Snag it!</title>
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <% if logged_in? %>
          <a class="navbar-brand" href=<%= requests_path %>>SNAG</a>
        <% else %>
          <a class="navbar-brand" href=<%= log_in_path %>>SNAG</a>
        <%end%>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href=<%= beers_path %>>Beers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=<%= new_request_path %>>Request a Beer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Snag a beer</a>
            </li>
            <% if logged_in? %>
              <li class="nav-item">
                <a class="nav-link" href=<% log_out_path %>>Logout</a>
              </li>
            <%else%>
              <li class="nav-item">
                <a class="nav-link" href=<% sign_up_path %>>Login/Sign Up</a>
              </li>
            <%end%>
          </ul>
        </div>
      </nav>



      <% if flash.any? %>
        <% flash.each do |type, message| %>
          <ul>
            <% if type == "error" || type == "warning" || type == "notice" %>
              <li style="color: red"><%= message %></li>

            <% elsif type == "success" %>
              <p style="color: green"><%= message %></p>
            <% else %>
              <p><%= message %></p>
            <% end %>
          </ul>
          <% end %>
        <% end %>


    <%= yield %>
  </body>
</html>

<!doctype html>
