<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Snag</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <nav class="navbar navbar-inverse">
      <div class="col">
        <div class="navbar-header">
          <%= link_to 'Snag', root_path, class: 'navbar-brand' %>
        </div>
      </div>
      <div class="col">
        <div id="navbar">
          <ul class="nav navbar-nav">
          <li><%= link_to "SNAG", root_path %></li>
          <li><%= link_to "BEERS", beers_path %></li>
          <li><%= link_to "ASK FOR A SNAG", new_request_path %></li>
          <li><%= link_to "SNAG ONE FOR A FRIEND", beers_path %></li>
          <li><%= link_to "LOG OUT", log_out_path %></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <% if flash.any? %>
        <% flash.each do |type, message| %>
          <ul>
            <% if type == "error" || type == "warning" || type == "notice" %>
              <li style="color: red"><%= message %></li>

            <% elsif type == "success" %>
              <p style="color: green"><%= message %></p>
            <% else %>
              <p><%= message %></p>
            <% end %>
          </ul>
          <% end %>
        <% end %>
    </div>

  </head>

  <body>

    <%= yield %>
  </body>
</html>

<!doctype html>
