<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= stylesheet_link_tag "application"%>
    
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


 

    <title>Snag it!</title>
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar sticky-top navbar navbar-dark bg-dark">
          <% if logged_in? %>
            <a class="navbar-brand" href=<%= requests_path %>>SNAG</a>
          <% else %>
            <a class="navbar-brand" href=<%= log_in_path %>>SNAG</a>
          <%end%>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href=<%= beers_path %>>Beers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=<%= new_request_path %>>Request a Beer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=<%= requests_path %>>Snag a beer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=<%= leaderboards_path %>>Leaderboards</a>
              </li>
            </ul>
              <% if logged_in? %>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href=<%= log_out_path %>>Logout</a>
                </li>
              </ul>
              <%else%>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href=<%= sign_up_path %>>Login/Sign Up</a>
                </li>
              <ul>
              <%end%>
          </div>
      </nav>

      
  <div class="margins-for-errors">
      <% if flash.any? %>
        <% flash.each do |type, message| %>
          <ul>
            <% if type == "error" || type == "warning" || type == "notice" %>
              <li style="color: red"><%= message %></li>

            <% elsif type == "success" %>
              <p style="color: green"><%= message %></p>
            <% else %>
              <p><%= message %></p>
            <% end %>
          </ul>
          <% end %>
        <% end %>
        <% flash.delete(:error) %>
   </div>

  <div class="margins fixed-type-scroller">
    <%= yield %>
  </div>
  </body>
</html>

<!doctype html>
